/* .button
{
    -fx-background-color : #0fcfcf;
    -fx-background-radius : 30 0 0 30; 
}

.button:hover
{
    -fx-background-color :#038181;
    -fx-background-radius : 30 0 0 30; 
}

.button:pressed
{
    -fx-background-color :#0fcfcf;
    -fx-background-radius : 30 0 0 30; 
} */